.stackItem--product {
  
  &--product-price-savings--badge{
    background-color: #008651;
    color: #fff;
    right: 0;
    left: initial;
    border-radius: 0 4px 4px 0;

   
  }
}

:global(.vtex-product-price-1-x-savings--product-price-savings--badge){
  padding: 2px 5px 2px 3px;
  display: block;
  &::before{
    content: "";
    left: -11px;
    top: 0;
    content: "";
    position: absolute;
    z-index: 9;
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-right: 11px solid #008651;
  }
}
.stackItem--product {
  width: 100%;
}

.stackItem--product-badge {
  :global(.vtex-product-highlights-1-x-productHighlightText--cucardas) {
    font-size: 0;
    width: 70px;
    height: 70px;
    display: block;
    margin-right: 15px;
    &[data-highlight-id="165"] {
        background: url("https://assets.hotsale.com.mx/public/hotsale-mx/imgs/hot-sale-2021.svg") no-repeat;
        background-size: contain;
        background-position: center center;
        height: 21px;
        position: absolute;
        top: 5%;
        z-index: 1;
    }
  }
}
