.container {
    background-color: #f2f2f2;

    :global(.vtex-product-summary-2-x-element) {
        padding: 0;
    }
}
//HOME -> PRODUCT
:global(.vtex-product-summary-2-x-productPriceClass){
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

:global(.vtex-product-summary-2-x-price_sellingPrice) {
    color: #4d4d4f;
    font-size: 20px;
    font-weight: bold;
}

:global(.vtex-store-components-3-x-sellingPriceLabel),
:global(.vtex-store-components-3-x-listPriceLabel){
    display: none;
}

:global(.vtex-store-components-3-x-listPriceValue) {
    margin-top: 6px;
}

:global(.vtex-product-summary-2-x-productBrand) {
    font-weight: 400;
    font-size: 15px;
    color: #4d4d4f;
    display: block;
    display: -webkit-box;
    height: auto;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: left;
}

/*:global(.vtex-add-to-cart-button-0-x-buttonDataContainer){
    :global(.vtex-add-to-cart-button-0-x-buttonText){
        font-size: 0px;

        &::after{
            content: "Comprar";
            font-size: 1rem;
        }
    }
}*/


/*:global(.vtex-add-to-cart-button-0-x-buttonText) {
    text-transform: initial;
}*/

:global(.vtex-product-summary-2-x-container) {
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;

    :global(.vtex-button):hover{
        opacity: 0.8;
    }

    :global(.vtex-store-components-3-x-productBrandName){
        color: #939598;
        font-size: 12px;
        font-weight: 300;
    }

    :global(.vtex-product-summary-2-x-nameContainer){
        padding: 0;
        min-height: auto;
    }
}

:global(.vtex-store-components-3-x-discountInsideContainer){
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    margin-right: -30px;

    &::before {
        left: -11px;
        top: 0;
        content: '';
        position: absolute;
        z-index: 9;
        width: 0;
        height: 0;
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
        border-right: 11px solid #F04242;
    }
}

.shelfContentContainer {
    max-width: 1400px;
    margin: 0 auto;
}

.title {
    text-transform: uppercase;
    color: #008651;
    font-family: "Montserrat",sans-serif;
    font-size: 17px;
    font-weight: 600;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.sliderContainer {
    :global(.vtex-product-summary-2-x-container) {
        padding: 20px 0px;
    }
}

.arrow {
    color: #008651;

    .caretIcon{
        width: 25px;
        height: 25px;
    }
}


@media screen and (min-width: 1250px) {
    .arrow {
        &Left{
            transform: translate(-30px, -50%);
        }
    
        &Right{
            transform: translate(30px, -50%);
        }
    }
}

.relatedProducts {
    background-color: #f2f2f2;
    padding-top: 25px;
    padding-bottom: 50px;
}

.relatedProducts--product-who-bought{
    padding-top: 0px;
}
:global(.vtex-product-summary-2-x-imageNormal) {
    height: 20.56rem !important;
}

:global(.vtex-search-result-3-x-gallery) {
    :global(.vtex-product-summary-2-x-container ) {
        padding: 4px;
        &:hover {
            box-shadow: 0px 0px 6px -2px rgb(0 0 0 / 50%);
            -webkit-box-shadow: 0px 0px 6px -2px rgb(0 0 0 / 50%);
            -moz-box-shadow: 0px 0px 6px -2px rgb(0 0 0 / 50%);
        }
    }
    background-color: transparent;
}
:global(.vtex-flex-layout-0-x-flexRow--main-cards) {
    max-width: 90rem;
}
:global(.vtex-wish-list-0-x-wishlistIconContainer) {
    position: absolute;
    z-index: 9;
    right: 0px;
    top: 5px;
}
@media only screen and (max-width: 640px) {
    :global(.vtex-search-result-3-x-galleryItem) {
        :global(.vtex-wish-list-0-x-wishlistIconContainer) {
            :global(.vtex-button) {
                top: 5px !important;
            }
        }
    }   
}
:global(.vtex-wish-list-0-x-wishlistIconContainer) {
    :global(.vtex-button):hover {
        background-color: transparent  !important;
    }
    :global(.vtex-button):focus {
        background-color: transparent  !important;
        outline:none;
    }
}
:global(.vtex-store-components-3-x-sellingPrice),
:global(.vtex-store-components-3-x-listPrice) {
    display: none !important;
}